* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: linear-gradient(to right, #3a7bd5, #3a6073);
   font-family: "Raleway", sans-serif;
   height: 100vh;
   overflow: hidden;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.center button {
   padding: 10px 20px;
   font-size: 15px;
   font-weight: 600;
   color: #222;
   background: #f5f5f5;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.9);
   width: 380px;
   padding: 20px 30px;
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
}

.popup.active {
   opacity: 1;
   visibility: visible;
   transform: translate(-50%, -50%) scale(1);
}

.popup .close-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 20px;
   height: 20px;
   background: #888;
   color: #eee;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   cursor: pointer;
   font-weight: bold;
}

.popup .form h2 {
   text-align: center;
   color: #222;
   margin: 10px 0 20px;
   font-size: 25px;
}

.popup .form .form-element {
   margin: 15px 0;
}

.popup .form .form-element label {
   font-size: 14px;
   color: #222;
   display: block;
   margin-bottom: 5px;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
   width: 100%;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 5px;
   outline: none;
   transition: border-color 0.2s;
}

.popup .form .form-element input:focus {
   border-color: #3a7bd5;
}

.popup .form .form-element.checkbox {
   display: flex;
   align-items: center;
}

.popup .form .form-element button {
   width: 100%;
   height: 40px;
   border: none;
   outline: none;
   font-size: 16px;
   background: #222;
   color: #f5f5f5;
   cursor: pointer;
   border-radius: 5px;
   transition: background 0.2s;
}

.popup .form .form-element button:hover {
   background: #3a7bd5;
}

.popup .form .form-element a {
   display: block;
   text-align: right;
   font-size: 15px;
   color: #1a79ca;
   text-decoration: none;
   font-weight: 600;
}
